*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnCon{
    padding: 25px;
    border-radius: 15px;
    background-color: skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
button{
    cursor: pointer;
    padding: 10px;
    border-radius: 15px;
}